#audio_container{
    display: flex;
    flex-direction: column;
}

#audio_title {
    padding-top: 10px;
    font-size: large;
}

#audio_content {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

#recordings {
    margin-left: auto;
}

#recordings .record {
    color: blue;
    display: flex;
    flex-direction: row;
}

#record_header {
    padding-top:20%;
}

#upload_area {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}

#file_uploads {
    background-color: rgba(30,144,255,.1);
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

#file_uploads .field {
    padding-top: 10px;
    padding-bottom: 10px;

}

.upload_button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
    padding:9px 23px;
    text-align: center;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    width: 100%;
}
.upload_button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.upload_button:active {
	position:relative;
	top:1px;
}


